<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
<% if user_signed_in? %>
  <span class="alignleft">
    Signed in as <%= current_user.username %>. <br>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </span>
  <span class="alignright">
   <%= link_to "View Profile", current_user %>
  </span>
<% end %>
</div>
<br>

<%= yield %>

</body>
</html>
