<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <h3>Subtasks</h3>
  <%= f.fields_for :subtasks do |subtasks_form| %>
    <div style="margin-left:30px;">
      <div class="field">
        <%= subtasks_form.label :name %><br>
        <%= subtasks_form.text_field :name %>
      </div>
      <% if @task.new_record? %>
        <div class="field">
          <%= subtasks_form.label :percent %><br>
          <%= subtasks_form.range_field :percent, min: 0, max: 100, class: "slide", value: 100/@numSubTasks %>
          <output for=<%=slider_string subtasks_form.index%>, onforminput="value="+<%=slider_string subtasks_form.index%>></output>
          <%= content_tag :output, "", for: @output, onforminput: "value=#{@output}.valueAsNumber;" %>
        </div>
        <%@count+=1%>
      <% end%>
    </div>
  <% end %><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
