<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<p id="notice"><%= notice %></p>

<p>
  <h3 style="text-align:center;"><strong><%=@task.name%></strong></h3>
</p>

<p>
  <div class="w3-progress-container">
    <div class="w3-progressbar" style=<%=("\"width:"+@task.get_total_percent+"%\"").html_safe%>></div>
  </div>
</p>

<p>
  <%@task.subtasks.each do |t| %>
    <%=t.name%><br>
 <%end%>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
