<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @reference.URL %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @reference.topic %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @reference.annotation %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @reference.created_at %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
