<h1>Instructions:</h1>
<p>Upload jpg image files. If your image file is not in jpg format, you can open it in your favorite drawing program (paint works) and go to file, and then save as. Select jpg from the drop down menu. It now should be ready to upload! Click on the image to view the full size version. Public images can be viewed by everyone, while private images can only be viewed by those who you choose. Enjoy uploading!</p>
<% unless user_signed_in? %>
<table>
  <tbody>
    <% @publicimages.each do |image| %>
      <tr>
        <td><%= link_to (image_tag image.filename, size: "100x100"), image %></td>
      </tr>
      <tr>
        <td><%=User.find(image.user_id).name%></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% else %>

<%= link_to('New Image', new_image_path) %>

<h3>My Images</h3>
<table>
  <tbody>
    <% @myimages.each do |image| %>
      <tr>
        <td><%= link_to (image_tag image.filename, size: "100x100"), image %></td>
        <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Friends' images</h3>
<table>
  <tbody>
    <% @friendsimages.each do |image| %>
      <tr>
        <td><%= link_to (image_tag image.filename, size: "100x100"), image %></td>
      </tr>
      <tr>
        <td><%= User.find(image.user_id).name%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Public Images</h3>
<table>
  <tbody>
    <% @publicimages.each do |image| %>
      <tr>
        <td><%= link_to (image_tag image.filename, size: "100x100"), image %></td>
      </tr>
      <tr>
        <td><%=User.find(image.user_id).name%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>
