<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <tbody>
    <% @images.each do |image| %>
      <% next unless image.public || (user_signed_in? && current_user.id==image.user_id)%>
      <tr>
        <td><%= link_to (image_tag image.filename, size: "100x100"), image %></td>
	<%if user_signed_in? && current_user.id==image.user_id %>
          <td><%= link_to 'Edit', edit_image_path(image) %></td>
          <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
      <tr>
        <td><%=User.find(image.user_id).name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to('New Image', new_image_path) if user_signed_in? %>
