<p>
  <%= image_tag @image.filename %>
</p>

<p>
  <%= User.find(@image.user.id).name %>
</p>

<p>
  <%=(button_to "Make #{(@image.private) ? "Public" : "Private"}", image_path(@image, :image => { :private => !(@image.private)}), :method => :put) if owner%>
<p>
  <% @image.tags.each do |t| %>
    <%=t.str%>
    <%if owner%>
      <%=link_to 'Edit', edit_tag_path(t)%> 
      |
      <%=link_to 'Delete', t, method: :delete, data: {confirm: 'Are you sure?' } %>
    <%end%>
    <br>
  <% end %>
  <%=(link_to "New Tag", new_image_tag_path(@image.id)) if owner %>
</p>

<% if @image.private && owner %>
<h4>Allowed to view</h4>
<p>
  <% @image.image_users.each do |i| %>
    <% if !i.new_record? %>
      <%= i.user.name %> |
      <%= link_to 'Delete', i, method: :delete, data: {confirm: 'Are you sure?' } %><br>
    <% end %>
  <% end %>
</p>
<h4>Add user</h4>
<p>
  <%= render 'image_users/form' %>
</p>
<% end %>
<%= link_to 'Back', images_path %>

