<div id="subtask<%=subtask.id%>"> 
  <div id="split<%=subtask.id%>" style="display:inline; width:99%">
    <div class="subTaskName" id="name<%=subtask.id%>">
      <%=subtask.name%>
    </div>
    <div class="subTaskRename" id="rename<%=subtask.id%>">
      <%=form_for subtask, url: {action: "rename", id: subtask.id} do |f|%>
        <%=f.text_field :name%>
        <%=f.submit "Save Name"%>
      <%end%>
    </div>
    <%if subtask.children.empty?%>
      <%unless subtask.complete%>
        <div class="alignright">
          <%=render "split", subtask: subtask%>
        </div>
        <div class="alignright">
          <%=render "complete", subtask: subtask%>
        </div>
      <%else%>
        <div class="alignright">
          <%=image_tag "/assets/complete.png", size:"16x16"%>
        </div>
      <%end%>
    <%else%>
      <%unless subtask.complete%>
        <div class="alignright">
          <progress id="progressBar<%=subtask.id%>" value=<%=(get_progress_value subtask)*100/subtask.percent.to_f%> max="100" style="height:15px;"></progress>
        </div>
      <%else%>
        <div class="alignright"> 
          <%=image_tag "/assets/complete.png", size:"16x16"%>
        </div>
      <%end%>
    <%end%>
    <div class="alignright">
      <input type="button" value="Rename" id='rbutton<%=subtask.id%>'> 
    </div>
  </div>

  <div style="clear: both;"></div>

  <%if !subtask.children.empty? %>
    <%if !subtask.parent_id %>
      <hr class=two>
    <%else%>
      <hr class=three>
    <%end%>
  <%else%>
    <br>
  <%end%>
  <div style="padding-left:30px">
    <%=render subtask.children%>
  </div>
</div>

<script> SetUpRNHandler(<%=subtask.id%>); </script>

