<div id="subtask<%=subtask.id%>"> 
  <div id="split<%=subtask.id%>" style="display:inline; width:99%">
    <%=subtask.name%>
    <%=image_tag "/assets/complete.png", size:"16x16" if false%><%#subtask.complete%>
    <%if subtask.children.empty?%>
      <div class="alignright">
        <%=render("split", subtask: subtask) unless subtask.complete%>
      </div>
      <div class="alignright">
        <%=render("complete", subtask: subtask) unless subtask.complete%>
      </div>
    <%else%>
      <div class="alignright">
        <progress id="progressBar<%=subtask.id%>" value=<%=(get_progress_value subtask)*100/subtask.percent.to_f%> max="100" style="height:15px;"></progress>
      </div>
    <%end%>
  </div>

  <div style="clear: both;"></div>

  <%if !subtask.parent_id && !subtask.children.empty? %>
    <hr class=two>
  <%elsif subtask.parent_id %>
    <hr class=three>
  <%else%>
    <br>
  <%end%>
  <div style="padding-left:30px">
    <%=render subtask.children%>
  </div>
</div>
