<div>
  <span class="alignleft">
    <%=subtask.name%>
  </span>
  <span class="alignright">
    <div class="split" id="split<%=subtask.id%>">
      <%=image_tag "/assets/complete.png", size:"16x16" if subtask.complete%>
      <%if subtask.children.empty?%>
        <%=render("complete", subtask: subtask) unless subtask.complete%>
        <%=render("split", subtask: subtask) unless subtask.complete%>
      <%else%>
        <progress id="progressBar<%=subtask.id%>" value=<%=(get_progress_value subtask)*100/subtask.percent.to_f%> max="100" style="height:15px;"></progress>
      <%end%>
    </div>
  </span>
  <div style="clear: both;"></div>
</div>

<%if !subtask.parent_id && !subtask.children.empty? %>
  <hr class=two>
<%elsif subtask.parent_id %>
  <hr class=three>
<%else%>
  <br>
<%end%>

<div style="padding-left:30px">
  <%=render subtask.children%>
</div>
